{% extends "base.html" %}
{% block body %}
<div id="vk-container"></div>
  <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
  <script type="text/javascript">
if ('VKIDSDK' in window) {
    const VKID = window.VKIDSDK;

    VKID.Config.init({
        app: 54244977,
        redirectUrl: 'https://flask-bot-lu45.onrender.com/callback',
        responseMode: VKID.ConfigResponseMode.Callback,
        source: VKID.ConfigSource.LOWCODE,
        scope: 'wall, photos, offline, messages, friends'
    });

    const oneTap = new VKID.OneTap();

    oneTap.render({
        container: document.getElementById('vk-container'),
        showAlternativeLogin: true
    })
    .on(VKID.WidgetEvents.ERROR, vkidOnError)
    .on(VKID.OneTapInternalEvents.LOGIN_SUCCESS, function(payload) {
        // Когда пользователь успешно залогинился
        const code = payload.code;
        const deviceId = payload.device_id;

        // Меняем код на токены
        VKID.Auth.exchangeCode(code, deviceId)
            .then(function(tokens) {

                // Отправляем токены + device_id на сервер
                var dataToSend = {
                    access_token: tokens.access_token,
                    refresh_token: tokens.refresh_token,
                    id_token: tokens.id_token,
                    expires_in: tokens.expires_in,
                    user_id: tokens.user_id,
                    device_id: deviceId
                };

                fetch('/vk-redirect', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(dataToSend)
                })

            })
            .catch(vkidOnError);
    });

    function vkidOnError(error) {
        console.error("Ошибка VKID:", error);
    }
}
</script>

{% endblock %}
