{% extends "base.html" %}
{% block body %}
<div>
  <div>
  <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
  <script type="text/javascript">
    if ('VKIDSDK' in window) {
      const VKID = window.VKIDSDK;

      const state = "{{ state }}";

      VKID.Config.init({
        app: 54244977,
        redirectUrl: 'https://flask-bot-lu45.onrender.com/callback',
        responseMode: VKID.ConfigResponseMode.Callback,
        source: VKID.ConfigSource.LOWCODE,
        scope: 'wall, photos, offline, messages',
        state: state
      });

      const oneTap = new VKID.OneTap();

      oneTap.render({
        container: document.currentScript.parentElement,
        showAlternativeLogin: true
      })
      .on(VKID.WidgetEvents.ERROR, vkidOnError)
      .on(VKID.OneTapInternalEvents.LOGIN_SUCCESS, function (payload) {
    const code = payload.code;
    const deviceId = payload.device_id;

    // Отправка на сервер
    fetch('https://flask-bot-lu45.onrender.com/callback', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ code: code, device_id: deviceId, state: state })
    })
    .then(res => res.text())
    .then(console.log)
    .catch(console.error);
      });

      function vkidOnSuccess(data) {
        // Обработка полученного результата
      }

      function vkidOnError(error) {
        // Обработка ошибки
      }
    }
  </script>
</div>
</div>
{% endblock %}
